.ProductName {
  text-align: center;
}

.meyve-div:nth-child(1n+1) {
  margin-left: 55px;
  display: inline-block;
}

.ToplamaKısmı {
  margin-left:33px;
}

.butondiv {
  text-align: center;
  margin-top: 10%;
}

.submitBtn:hover  {
  filter: grayscale(0%) !important;
}

.card:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  filter: grayscale(0%) !important;
}

.cardImage {
  
}
